.filter {
    @extend .flexbox;
    @extend .list;
    flex-wrap: wrap;
    @media screen and (min-width: 768px) {
        justify-content: center;
    }
}
.filter__item {
    // margin-bottom: 50px;
    &:not(:last-child) {
	margin-right: 8px;
    }
   @media screen and (max-width: 767px) {
        &:nth-child(-n + 3) {
        margin-bottom: 15px;
    }
    &:nth-last-child(-n + 2) {
        margin-bottom: 40px;
    }
   }
    @media screen and (min-width: 768px) {
        margin-bottom: 30px;
    }
}
.filter__btn {
    @extend .btn;
	background-color: $color-bcg-btn;
	color: $primery-text-color;
	font-weight: 500;
	line-height: 1.62;
	letter-spacing: 0.03em;
    padding: 6px 22px;
    &:hover,
    &:focus {
	background-color: $color-accent;
	color: $white-text-color;
    }
}