.hero {
	background-color: $secondary-bcg-color;
	color: $white-text-color;
    text-align: center;
	margin-left: auto;
    margin-right: auto;
    height: 400px;
    // background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    
    @media screen and (min-width: 480px) {
    max-width: 480px;
    padding-top: 120px;
    }

    @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-top: 118px;
    }

    @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
	padding-top: 200px;
    }
}
.hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
	letter-spacing: 0.06em;
	text-transform: uppercase;
    margin: 0;
    margin-bottom: 28px;

    @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
    font-size: 44px;
	line-height: 1.36;
    }
}
.hero__btn {
    @extend .btn;
    
    &:hover,
    &:focus {
	background-color: $white-text-color;
	color: $color-accent;   
    }
}