.hero {
	background-color: $secondary-bcg-color;
	color: $white-text-color;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	height: 400px;
	padding-top: 120px;
	max-width: 480px;
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/hero-mobile.jpg);
		background-size: 480px 400px;
		background-repeat: no-repeat;
		@media screen and (min-device-pixel-ratio: 2),
			screen and (-webkit-min-device-pixel-ratio: 2),
			screen and (-o-min-device-pixel-ratio: 2/1),
			screen and (min-resolution: 192dpi),
			screen and (min-resolution: 2dppx) {
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url(../images/hero-mobile@2x.jpg);}

	// @media screen and (min-width: 480px) {
		
	// 	}
	// }
	@media screen and (min-width: 768px) {
		max-width: 768px;
		padding-top: 118px;
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/hero-tablet.jpg);
		background-size: 768px 400px;
		@media screen and (min-device-pixel-ratio: 2),
			screen and (-webkit-min-device-pixel-ratio: 2),
			screen and (-o-min-device-pixel-ratio: 2/1),
			screen and (min-resolution: 192dpi),
			screen and (min-resolution: 2dppx) {
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url(../images/hero-tablet@2x.jpg);
		}
	}

	@media screen and (min-width: 1200px) {
		max-width: 1600px;
		height: 600px;
		padding-top: 200px;
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/hero-desktop.jpg);
		background-size: 1600px 600px;
		@media screen and (min-device-pixel-ratio: 2),
			screen and (-webkit-min-device-pixel-ratio: 2),
			screen and (-o-min-device-pixel-ratio: 2/1),
			screen and (min-resolution: 192dpi),
			screen and (min-resolution: 2dppx) {
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url(../images/hero-desktop@2x.jpg);
		}
	}
}
.hero__title {
	font-weight: 900;
	font-size: 26px;
	line-height: 1.61;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 28px;
	padding-left: 60px;
	padding-right: 60px;

	@media screen and (min-width: 768px) {
		margin-bottom: 30px;
		padding-left: 204px;
		padding-right: 204px;
	}

	@media screen and (min-width: 1200px) {
		font-size: 44px;
		line-height: 1.36;
		padding-left: 252px;
		padding-right: 252px;
	}
}
.hero__btn {
	@extend .btn;

	&:hover,
	&:focus {
		background-color: $white-text-color;
		color: $color-accent;
	}
}
