.backdrop {
	overflow-y: scroll;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 1000;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&--is-hidden {
		opacity: 0;
		pointer-events: none;
		& .backdrop__modal {
		transform: translate(-50%, -50%) scale(0.1) rotate(360deg);
    	}   
	}
	@media screen and (max-width: 767px) {
		padding-top: 93px;
		padding-left: 15px;
		padding-right: 15px;
	}
}
.modal {
	display: inline-block;
	overflow-y: scroll;
	width: 450px;
	padding: 40px;
	background-color: $primery-bcg-color;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	transition-property: transform;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	@media screen and (max-width: 767px) {
		position: relative;
	}
	@media screen and (min-width: 768px) {
		position: absolute;
		top: 10%;
		left: 20%;

		// transform: translate(50%, 0) rotate(0) scale(1);
		
		// // transform: translate(-50%, -50%) scale(1) rotate(0);
		// transform: translate(-50%, 0) scale(1) rotate(0);
	}
	@media screen and (min-width: 1200px) {
		width: 528px;
		left: 30%;
	}
}
.modal__btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	display: flex;
	align-items: center;
	cursor: pointer;
	margin-top: 8px;
	margin-right: 8px;
}
.modal__icon {
	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	.modal__btn:hover &,
	.modal__btn:focus & {
		fill: $color-accent;
	}
}
.modal__title {
	color: $primery-text-color;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	text-align: center;
	display: block;
	margin-bottom: 12px;
	@media screen and (min-width: 1200px) {
		line-height: 1.15;
	}
}
.modal__form {
	color: $secondary-text-color;
	text-align: center;
}
.form-field {
	display: block;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	margin-bottom: 10px;
	position: relative;
}
.form-field__label {
	margin-bottom: 4px;
	display: block;
	text-align: left;
}
.form-field__icon {
	position: absolute;
	top: 50%;
	left: 12px;
	width: 18px;
	height: 18px;
	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	.form-field__input:focus + & {
		fill: $color-accent;
	}
}
.form-field__input {
	width: 100%;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding-right: 11px;
	padding-left: 42px;
	padding-top: 12px;
	padding-bottom: 12px;
	transition-property: border-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	&:focus {
		border-color: $color-accent;
		outline: none;
	}
}
.form-field__comment {
	resize: none;
	height: 120px;
	padding: 12px 16px;
	width: 100%;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition-property: border-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	&::placeholder {
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.01em;
		color: rgba(117, 117, 117, 0.5);
	}
	&:focus {
		border-color: $color-accent;
		outline: none;
	}
}
.form-field__btn {
	background-color: $color-accent;
	color: $white-text-color;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	border-radius: 4px;
	padding: 10px 56px;
	min-width: 73px;
	border: none;
	display: inline-block;
	cursor: pointer;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.form-field__checkbox {
	display: flex;
	margin-top: 20px;
	margin-bottom: 30px;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	@media screen and (min-width: 1200px) {
		font-size: 14px;
		line-height: 1.71;
	}
	
}
.field-checkbox__check {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.field-checkbox__icon {
	display: inline-block;
	width: 16px;
	height: 15px;
	background-color: #fff;
	background-image: url(../images/square.svg);
	margin-right: 8px;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	.field-checkbox__check:checked + & {
		border-radius: 2px;
		border-color: $color-accent;
		background-color: $color-accent;
		background-image: url(../images/check.svg);
		background-size: contain;
		background-origin: border-box;
	}
}
.field-checkbox__link {
	color: $color-accent;
	margin-left: 3px;
}
