.we-are-doing {
	display: none;
}

@media screen and (min-width: 1200px) {
	.we-are-doing {
		display: block;
		padding-bottom: 94px;
	}
	.we-are-doing__list {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;
		list-style: none;
		padding: 0;
	}
	.we-are-doing__item {
		width: calc((100% - 30px * 3) / 3);
		margin: 15px;
	}
	.we-are-doing__box {
		position: relative;
	}
	.we-are-doing__description {
		margin-top: 0;
		margin-bottom: 0;
		color: $secondary-text-color;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 70px;
		font-weight: 700;
		line-height: 1.14;
		text-align: center;
		text-transform: uppercase;
		color: $white-text-color;
		background-color: rgba(47, 48, 58, 0.8);
		padding-top: 27px;
	}
}
