$primery-bcg-color: #ffffff;
$secondary-bcg-color: #2f303a;
$primery-text-color: #212121;
$secondary-text-color: #757575;
$color-accent: #2196f3;
$white-text-color: #ffffff;
$black-text-color: #000000;
$color-bcg-btn: #f5f4fa;
$color-link-ftr: rgba(255, 255, 255, 0.6);
